
body.testStyle_body{
	background: #fff url(../image/login_bg.jpg) repeat top left;
}
div.testStyle_div{
	color: black;
	position:relative;
	width: 945px;
	margin:0 auto;
	padding:0 auto;
}

.testStyle_testbox1{
	width:100%;
}

.testStyle_testbox2{
	width:100%;
	display:none;
	
}


table.testStyle_table{
	float:left;
	width: 100%;
	position:relative;
	margin:0 auto;
	padding:0 auto;
	padding-top:50px;
	bottom:10%;
	border-collapse:collapse;
}
table.testStyle_table td{
	width:100%;
	text-align:left;
	font-size:18px;
	padding:10px;
}

table.testStyle_table th{
	padding-top:50px;
	line-height: 100%;
	font-weight:bold;
	font-size:2em;
	text-align:left;
}
img.testStyle_img{
	width:50%;
	clear:both;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
}

p.howToStyle_p{
	color: black;
	clear:both;
	position:inherit;
	margin:0 auto;
	margin-top:1em;
	margin-bottom:1em;
	width:70%;
	text-align:left;
}